<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="radio" name="multiply" value="*">
      <label for="html">multiply</label><br>
      <input type="radio"  name="divide" value="/">
      <label for="html">divide</label><br>
      <input type="radio" name="add" value="+">
      <label for="html">addition</label><br>
      <input type="radio" name="subtract" value="-">
      <label for="html">subtract</label><br>  
</body>
{% if reply == 2 %}
<p>Dako 2 {{reply}}</p>
<br/>
{% endif %}

{% if reply == 7 %}
<p>Dako 7 {{reply}}</p>
<br/>
{% endif %}
</html>