<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if reply == 2 %}
       <h4>Modules for Web Application Dvelopment</h4>
           <ul>
               <li>MVC web application development</li>
               <li>Object-oriented JavaScript</li>
               <li>REST-oriented web services</li>
               <li>Software engineering</li>
            </ul> 
            <p>Indetailed table is shown below</p>
    <table style="text-align:center;">
     <tr>
       <th>Subject #</th>
       <th>Module</th>
       <th>ECTs-(Weight)</th>
     </tr>
     <tr>
       <td>1</td>
       <td>MVC web application development</td>
       <td>4</td>
     </tr>
     <tr>
       <td>2</td>
       <td>Object-oriented JavaScript</td>
       <td>4</td>
     </tr>
     <tr>
         <td>3</td>
         <td>REST-oriented web services</td>
         <td>4</td>
       </tr>
       <tr>
         <td>4</td>
         <td>Software engineering</td>
         <td>7</td>
       </tr>
       </table>
       <p style="color:chartreuse">I guess you are screwed up, your coarse is daaamn hard &#128514; &#128514;</p>
       <p style="color:chartreuse">&#128518;Better pull up your socks dawg</p>
    {% endif %}
 
    {% if reply == 7 %}   
        <h4>Modules for  PM/UX</h4>
        <ul>
            <li>User Experience Research&Analysis</li>
            <li>Basics of Digital Product Design</li>
            <li>Designing User Interfaces</li>
            <li>Software engineering</li>
         </ul> 
        <p>Indetailed table is shown below</p>
        <table style="text-align:center;">
     <tr>
       <th>Subject #</th>
       <th>Module</th>
       <th>ECTs-(Weight)</th>
     </tr>
     <tr>
       <td>1</td>
       <td>User Experience Research&Analysis</td>
       <td>4</td>
     </tr>
     <tr>
       <td>2</td>
       <td>Basics of Digital Product Design</td>
       <td>4</td>
     </tr>
     <tr>
         <td>3</td>
         <td>Designing User Interfaces</td>
         <td>4</td>
       </tr>
       <tr>
         <td>4</td>
         <td>Software engineering</td>
         <td>7</td>
       </tr>
        </table>
        <p>&#128515; &#128516; &#128517; &#128518; &#128519; &#128521; &#128522; &#128523; &#128524;</p>
        <p style="color:chartreuse">Having mixed emotions?, don't worry it is easy stuff soon you will be boss of your own company</p>
        {% endif %}
</body>
</html>