<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Quick recheck of modules you want to do next semester</h4>
    
    {% set list = modules.split(',') %}
    {% for item in list %}
    <ul>~ {{ item }}</ul>
    {% endfor %} 
    <p style="color:chartreuse">wish you luck on your journey to embark the world of computer science.</p>
<p>Good bye. do widzenia!  &#128521;</p>
</body>
</html>